.success-swiper .swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.success-swiper .swiper-pagination-bullet-active {
  background: #fb8500;
}

.success-swiper {
  position: relative;
  padding-bottom: 50px !important;
}
